html, body, h1, h2, h3, h4, ul, li, ol, a, img, p{
	margin: 0;
	padding: 0;
	font-family: Segoe UI;
	font-weight: normal;
	font-size: 19px;
	list-style: none;
	text-decoration: none;
	border: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    
}
html {
    width:100%;
    height:100%;
    background-image : url('../images/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}


body{
	position:absolute;
    -ms-content-zooming: none;
    content-zooming: none;
    width: 100%;
    height: 100%;
}




#listeTaux {
    width:100%;
    height:100%;
    float:left;
}

#listeTaux #entete {
    position: relative;
    height:12%;
    background-color: beige;
}

#listeTaux ul { 
    overflow-y:auto;
    height:88%;
}
   
#listeTaux ul a li {
    display: block;
    width: 100%;
    height: 12%;
    border-bottom: 1px solid #b9b9b9;
    border-top: 1px solid #f7f7f7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff) to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
    background-image:    -moz-linear-gradient(top, #ffffff, #ebebeb);
    background-image:      -o-linear-gradient(top, #ffffff, #ebebeb);
    background-image:     -ms-linear-gradient(top, #ffffff, #ebebeb);
    background-image:         linear-gradient(top, #ffffff, #ebebeb);
}

#listeTaux ul a li.selected {
    color: white;
    background: #444; 
    background: -webkit-linear-gradient( #555, #2C2C2C); 
    background: -moz-linear-gradient( #555, #2C2C2C); 
    background: -ms-linear-gradient( #555, #2C2C2C); 
    background: -o-linear-gradient( #555, #2C2C2C); 
    background: linear-gradient( #555, #2C2C2C); 
    box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
}

#listeTaux ul li img.thumbnail, #entete img.thumbnail {
  background: #fff;
  display: inline-block;
  float: left;
  padding: 2px;
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

/*#listeTaux ul a:hover li h2 { color: #7287b1; }
#listeTaux ul a:hover li p.taux { color: #757575; }*/
#listeTaux ul a li.selected h2 { color: white; }
#listeTaux ul a li.selected p.taux { color: white; }

/*#listeTaux ul a:hover li {
background: #efefef;
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff) to(#efefef));
background-image: -webkit-linear-gradient(top, #ffffff, #efefef);
background-image:    -moz-linear-gradient(top, #ffffff, #efefef);
background-image:      -o-linear-gradient(top, #ffffff, #efefef);
background-image:         linear-gradient(top, #ffffff, #efefef);
}*/

#leftFragment {
    float:left;
    width:30%;
    height:100%;  
}
#rightFragment {
    float:right;
    width:70%;
    height:100%;  
}
#photo {
    height : 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

#photo .black {
  position: relative;
  left: 0;
  bottom: 80px;
  width: 100%;
  padding: 10px 20px;
  height: 70px;
  background: linear-gradient(to top,
     rgba(0,0,0, 1), 
     rgba(0,0,0, 0) 
  );
}   
  
#photo .black p {
  color: white;
  font-size: 48px;
  font-family:Tahoma;
}
  
#photo .black .follow {
  margin-top: 5px;
  position: absolute;
  right: 50px;
  top:30px;
  font-size: 12px;
  font-family:verdana;
}

img#imgCountry {
    /* Set the width and height to the size of its container */
    width : 100%;
    height: 100%;
}
#legende {
    height:30px;
    width:100%;
    background-color:blue;
    display:block;
    margin:0;
}

#navcontainer {
    text-align: center; 
    position: relative;
    display: inline-block;
    width: 100%;
    height:50%;
}

#navcontainer ul {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    white-space: nowrap;
    direction: rtl;
    background-color: #5496ff;
}
#navcontainer li {
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
    background-color: white;
    transition:height 2s;
    -moz-transition:height 2s; /* Firefox 4 */
    -webkit-transition:height 2s; /* Safari and Chrome */
    -o-transition:height 2s; /* Opera */
    width:4%;
}

#navcontainer li:hover {
   background-color: red;
}
#navcontainer li.year {
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
    background-color: yellow;
    width:6%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    #listeTaux ul li h2 { font-size: 1.75em; }

    #listeTaux ul li img.thumbnail { margin-top: 2px; }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
    #listeTaux ul li p.taux { display: none; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}




/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

 